body {
    font-family: arial, sans-serif;
    margin: 0;
}

/* NAVBAR settings */

#navbar-div {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(223, 225, 229);
}

#searchbar-div {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#google-logo {
    width: 7vw;
    margin: 0vh 3vw;
    align-self: flex-start;
}
/* SEARCHBAR */

#searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    width: 50vw;
    height: 2.5rem;
    border: 1px solid rgba(223, 225, 229, 1);
    border-radius: 24px;
}

#searchbox:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

#searchbox [type="text"] {
    width: 86%;
    height: 1.5rem;
    padding: 1%;
    font-size: 1rem;
    font-weight: 200;
    border: none;
    background-color: white;
}

#searchbox img{
    width: 1.6rem;
    margin: 0 1vw;

}


/* TABS */

 #tabs-div {
    display: flex;
    margin-left: 13vw;
 }

 #tabs-div a {
    display: block;
    padding: 3vh 1.4vw 1.3vh 1.4vw;
    font-size: 0.85rem;
    color: rgb(95, 99, 104);
    text-decoration: none;
 }

  #tabs-div a:active {
    color: rgb(60, 130, 240);
    border-bottom: 4px solid rgb(60, 130, 240);
  }

 /* ----- */

 #sign-in {
    display: block;
    position: absolute;
    margin-top: 0vh;
    right: 5vw;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(rgb(60, 130, 240), rgb(55, 115, 215));
    background-origin: padding-box;
    border: 1px solid rgb(66, 133, 244);
    border-radius: 4px;
    padding: 1.0vh 1.5vw;
    color: rgba(250, 250, 250, 1);
    text-decoration: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    font-size: 0.9rem;
    font-weight: 200;
}

/* ---- */

#search-data {
    margin-left: 16.5vw;
    font-size: 0.87rem;
    color: rgb(95, 99, 104);
}

/* RESULTS */

#search-results {
    margin-left: 16.5vw;
    display: grid;
    grid-template-columns: 45vw 1fr;
    grid-column-gap: 4vw;
    grid-template-rows: auto;
    grid-template-areas:
    "results sidebar";
    justify-content: center;
    
}

#search-results-main {
    grid-area: results;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.result-containter {
    margin-bottom: 3vh;
}

.result-containter a {
    display: block;
    text-decoration: none;
}

.result-containter cite {
    font-size: 0.85rem;
    color: rgb(60, 64, 67);

}

.result-containter h3 {
    font-weight: 400;
    margin-top: 1vh;
    text-decoration: underline;
}

.result-containter p {
    color: rgb(60, 64, 67);
    font-size: 0.9rem;
    word-spacing: 0.30rem;
}

.result-options {
    width: 100%;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 4px;
    padding: 1rem 0 0 0;
    color: rgb(60, 64, 67);
    margin-bottom: 3vh;

}

.result-options h3 {
    margin-top: 1vh;
    font-weight: normal;
    padding: 0 1rem;
}

.result-options a {
    display: block;
    border-top: 1px solid rgb(223, 225, 229);
    padding: 0.7rem 1rem 0.7rem 1rem;
    text-decoration: none;
    color: rgb(60, 64, 67);

}

/* RESULTS SIDEBAR */

#result-sidebar {
    width: 85%;
    max-height: auto;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 4px;
    align-self: flex-start;
    overflow: hidden;
}

#result-sidebar h2 {
    border-bottom: 1px solid rgb(223, 225, 229);
    padding: 0 5% 3% 5%;
    font-weight: normal;
}

#result-sidebar h2 img {
    width: 1.5vw;
    float: right;
}

#result-sidebar p {
    color: rgb(60, 64, 67);
    font-size: 0.9rem;
    word-spacing: 0.30rem;
    padding: 0 5%;
}

#result-sidebar-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

} 

#result-sidebar-img img { 
    max-width: 60%;
    max-height: 60%;
    object-fit: cover;
}
/* PAGE COUNT */

#page-count {
    display: flex;
    justify-content: center;
    align-content: center;
}

#page-count li {
    display: inline;
    list-style: none;
    margin: 0 0.8vw;
}

#page-count a {
    color: rgb(60, 130, 240);
    text-decoration: none;
}

#page-count a:hover {
    text-decoration: underline;
}

#page-count a: active {
    color: black;
}

/* FOOTER */

#footer-div {
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: rgb(242, 242, 242);
    color: rgb(95, 99, 104);
    font-size: 0.9rem;
}


#footer-div > div {
    border-top: 1px solid rgb(228, 228, 228);
    line-height: 2.5rem;
    padding-left: 1.5vw;
}

#footer-div-flex {
    display: flex;
    justify-content: space-between;
}
#footer-div a{
    color: rgb(95, 99, 104);
    text-decoration: rgb(95, 99, 104);
    padding-right: 1.5vw;
}
